    /*! CSS Used from: https://startbootstrap.github.io/startbootstrap-new-age/css/styles.css */
    
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    
    h1 {
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-family: "Newsreader", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-weight: 600;
        line-height: 1.2;
    }
    
    h1 {
        font-size: calc(1.375rem + 1.5vw);
    }
    
    .text-right {
        text-align: right!important;
    }
    
    @media (min-width: 1200px) {
        h1 {
            font-size: 2.5rem;
        }
    }
    
    p {
        margin-top: 0;
        margin-bottom: 1rem;
    }
    
    a {
        color: #2937f0;
        text-decoration: underline;
    }
    
    a:hover {
        color: #212cc0;
    }
    
    img,
    svg {
        vertical-align: middle;
    }
    
    .navbar-brand {
        padding: 0 20px;
        height: 100;
        line-height: 60px;
    }
    
    .nav-items {
        font-size: 1.25rem;
        font-weight: 300;
    }
    
     ::-moz-focus-inner {
        padding: 0;
        border-style: none;
    }
    
    .lead {
        font-size: 1.25rem;
        font-weight: 300;
    }
    
    .display-1 {
        font-size: calc(1.625rem + 4.5vw);
        font-weight: 300;
        line-height: 1.2;
    }
    
    @media (min-width: 1200px) {
        .display-1 {
            font-size: 5rem;
        }
    }
    
    .container {
        width: 100%;
        padding-right: var(--bs-gutter-x, 0.75rem);
        padding-left: var(--bs-gutter-x, 0.75rem);
        margin-right: auto;
        margin-left: auto;
    }
    
    @media (min-width: 576px) {
        .container {
            max-width: 540px;
        }
    }
    
    @media (min-width: 768px) {
        .container {
            max-width: 720px;
        }
    }
    
    @media (min-width: 992px) {
        .container {
            max-width: 960px;
        }
    }
    
    @media (min-width: 1200px) {
        .container {
            max-width: 1140px;
        }
    }
    
    @media (min-width: 1400px) {
        .container {
            max-width: 1320px;
        }
    }
    
    .row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-right: calc(-0.5 * var(--bs-gutter-x));
        margin-left: calc(-0.5 * var(--bs-gutter-x));
    }
    
    .row>* {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * 0.5);
        padding-left: calc(var(--bs-gutter-x) * 0.5);
        margin-top: var(--bs-gutter-y);
    }
    
    .gx-5 {
        --bs-gutter-x: 3rem;
    }
    
    @media (min-width: 992px) {
        .col-lg-6 {
            flex: 0 0 auto;
            width: 50%;
        }
    }
    
    .d-flex {
        display: flex!important;
    }
    
    .d-none {
        display: none!important;
    }
    
    .flex-column {
        flex-direction: column!important;
    }
    
    .align-items-center {
        align-items: center!important;
    }
    
    .mb-3 {
        margin-bottom: 1rem!important;
    }
    
    .mb-4 {
        margin-bottom: 1.5rem!important;
    }
    
    .mb-5 {
        margin-bottom: 3rem!important;
    }
    
    .px-5 {
        padding-right: 3rem!important;
        padding-left: 3rem!important;
    }
    
    .fw-normal {
        font-weight: 500!important;
    }
    
    .lh-1 {
        line-height: 1!important;
    }
    
    .text-center {
        text-align: center!important;
    }
    
    .text-muted {
        --bs-text-opacity: 1;
        color: #6c757d!important;
    }
    
    .bg-black {
        --bs-bg-opacity: 1;
        background-color: rgba(var(--bs-black-rgb), var(--bs-bg-opacity))!important;
    }
    
    @media (min-width: 576px) {
        .d-sm-block {
            display: block!important;
        }
    }
    
    @media (min-width: 992px) {
        .flex-lg-row {
            flex-direction: row!important;
        }
        .me-lg-3 {
            margin-right: 1rem!important;
        }
        .mb-lg-0 {
            margin-bottom: 0!important;
        }
        .text-lg-start {
            text-align: left!important;
        }
    }
    
    .bg-black {
        background-color: #000!important;
    }
    
    .app-badge {
        height: 3rem;
    }
    
    .device-wrapper {
        max-width: 300px;
        width: 100%;
    }
    
    .device {
        position: relative;
        background-size: cover;
    }
    
    .device::after {
        position: absolute;
        background-size: cover;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
    
    .device .screen {
        position: absolute;
        background-size: cover;
        pointer-events: auto;
    }
    
    .device[data-device=iPhoneX][data-orientation=portrait][data-color=black] {
        padding-bottom: 198.898071625%;
    }
    
    .device[data-device=iPhoneX][data-orientation=portrait][data-color=black] .screen {
        top: 3.1855955679%;
        left: 6.8870523416%;
        width: 86.2258953168%;
        height: 93.6288088643%;
    }
    
    .device[data-device=iPhoneX][data-orientation=portrait][data-color=black]::after {
        content: "";
        background-image: url("https://startbootstrap.github.io/startbootstrap-new-age/assets/img/portrait_black.png");
    }
    
    .masthead {
        background-color: #f8f9fa;
        padding-top: 9.5rem;
        padding-bottom: 5rem;
    }
    
    .masthead .masthead-device-mockup {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    
    .masthead .masthead-device-mockup .circle {
        position: absolute;
        fill: url(https://startbootstrap.github.io/startbootstrap-new-age/css/styles.css#circleGradient);
        width: 70%;
        display: none;
    }
    
    .masthead .masthead-device-mockup .circle .gradient-start-color {
        stop-color: #2937f0;
    }
    
    .masthead .masthead-device-mockup .circle .gradient-end-color {
        stop-color: #9f1ae2;
    }
    
    .masthead .masthead-device-mockup .shape-1 {
        position: absolute;
        height: 1rem;
        width: 1rem;
        transform: rotate(-10deg);
        fill: #2937f0;
        bottom: 15%;
        left: 10%;
    }
    
    .masthead .masthead-device-mockup .shape-2 {
        position: absolute;
        height: 0.75rem;
        width: 0.75rem;
        fill: #2937f0;
        top: 15%;
        right: 10%;
    }
    
    .masthead .masthead-device-mockup .device-wrapper {
        max-width: 10rem;
    }
    
    @media (min-width: 576px) {
        .masthead .masthead-device-mockup .circle {
            width: 70%;
            display: block;
        }
        .masthead .masthead-device-mockup .device-wrapper {
            max-width: 12.5rem;
        }
    }
    
    @media (min-width: 768px) {
        .masthead .masthead-device-mockup .circle {
            width: 60%;
        }
        .masthead .masthead-device-mockup .device-wrapper {
            max-width: 15rem;
        }
    }
    
    @media (min-width: 992px) {
        .masthead .masthead-device-mockup .circle {
            width: 90%;
        }
        .masthead .masthead-device-mockup .device-wrapper {
            max-width: 15rem;
        }
    }
    
    @media (min-width: 1200px) {
        .masthead .masthead-device-mockup .circle {
            width: 75%;
        }
        .masthead .masthead-device-mockup .device-wrapper {
            max-width: 15rem;
        }
    }
    
    @media (min-width: 1400px) {
        .masthead .masthead-device-mockup .circle {
            width: 70%;
        }
        .masthead .masthead-device-mockup .device-wrapper {
            max-width: 17rem;
        }
    }
    /*! CSS Used from: Embedded */
    
    .d-none {
        display: none;
    }
    /*! CSS Used fontfaces */
    
    @font-face {
        font-family: 'Newsreader';
        font-style: italic;
        font-weight: 600;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/newsreader/v7/cY9kfjOCX1hbuyalUrK439vogqC9yFZCYg7oRZaLP4obnf7fTXglsMz2SNZIFjKShVCjzSZ-Mg.woff) format('woff');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }
    
    @font-face {
        font-family: 'Newsreader';
        font-style: italic;
        font-weight: 600;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/newsreader/v7/cY9kfjOCX1hbuyalUrK439vogqC9yFZCYg7oRZaLP4obnf7fTXglsMz2SNZJFjKShVCjzSZ-Mg.woff) format('woff');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    
    @font-face {
        font-family: 'Newsreader';
        font-style: italic;
        font-weight: 600;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/newsreader/v7/cY9kfjOCX1hbuyalUrK439vogqC9yFZCYg7oRZaLP4obnf7fTXglsMz2SNZHFjKShVCjzSY.woff) format('woff');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    
    @font-face {
        font-family: 'Newsreader';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/newsreader/v7/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBtoBCzBDXXD9JVF438wpojwBOZDHDWwgUii5SY.woff) format('woff');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }
    
    @font-face {
        font-family: 'Newsreader';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/newsreader/v7/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBtoBCzBDXXD9JVF438wpojwBeZDHDWwgUii5SY.woff) format('woff');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    
    @font-face {
        font-family: 'Newsreader';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/newsreader/v7/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBtoBCzBDXXD9JVF438wpojwC-ZDHDWwgUii.woff) format('woff');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /*! CSS Used from: https://demo.pixelcave.com/oneui/assets/css/oneui.min-5.2.css */
    
    *,
     ::after,
     ::before {
        box-sizing: border-box;
    }
    
     ::-moz-focus-inner {
        padding: 0;
        border-style: none;
    }
    
    .d-none {
        display: none!important;
    }
    
    .ms-2 {
        margin-left: .5rem!important;
    }
    
    @media (min-width:576px) {
        .d-sm-inline-block {
            display: inline-block!important;
        }
    }